/*========== RESET ==========*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  position: relative;
  min-height: 100%;
}

body {
  font: 1.6rem sans-serif;
  font-family: "Inter";
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
ol,
ul,
figure,
dd {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

/*========== RESET(fin) ==========*/
