RewriteEngine On
RewriteBase /

# Rediriger toutes les requêtes vers index.php sauf pour les fichiers existants
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# Rediriger spécifiquement vers NosFilms.php si la requête correspond
RewriteRule ^nosfilms$ Views/NosFilms.php [L]
